body {
    background-color: #131c2b !important;
}

:root {
    --primary-c: #193767;
    --secondary-c: #515151;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.searchbar {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
}

#main {
    margin-top: 40px;
    margin: auto;
}

.nodisplay {
    display: none !important;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #0d1420;
}

.footer{
    background-color: #273854;
}
