body {
    background-color: #131c2b !important;
    font-family: 'Montserrat', sans-serif;
}

select{
    height: 40px;
    border-radius:8px;
    border:1px solid #AAAAAA;
}

option{
    font-size: 20px;
}

.searchbar {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
}

#main {
    margin-top: 40px;
    margin: auto;
}

.nodisplay {
    display: none !important;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #0d1420;
}

.footer{
    background-color: #273854;
}
