<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error 404</title>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/meta.ejs'); %>
</head>

<body>
    <nav class="navbar">
		<%- include('../partials/searchbar.ejs'); %>
	</nav>
    <br>
    <div id="main" class = "text-white text-center">
        <div class = "container">
            Sorry! We cannot find your desired page. Please utilize the search bar above while looking for exam data.
            <br>
            <img src = "images/radishDead.png" alt = "dead radish">
        </div>
    </div>
</body>

<footer class="footer text-center text-lg-start">
	<%- include('../partials/footer.ejs'); %>
</footer>

</html>