<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error 404</title>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/meta.ejs'); %>
</head>

<body>
    <nav class="navbar">
		<%- include('../partials/searchbar.ejs'); %>
	</nav>
    <br>
    <div id="main" class = "text-white">
        error 404 lawl
    </div>
</body>

<footer class="footer text-center text-lg-start">
	<%- include('../partials/footer.ejs'); %>
</footer>

</html>