<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/meta.ejs'); %>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
		<%- include('../partials/searchbar.ejs'); %>
	</nav>
    <div id="main">
		<div class="container" id="intro">
			<h2>
				Welcome to APs@IMSA
			</h2>
			<p>
				This website was created in an attempt for students to gain access to a tool that would help them better understand the mysterious aura surrounding AP exams, especially at a school that does not offer such courses. Search any subject you would like in the searchbar above to view various statistics regarding that specific AP subject. 
			</p>
            
			<div id="advantages" class="container">
				<!-- <p><a class="call" href="/grades">Download Raw Data:</a> Raw Data is in CSV format</p>
				<p><a class="call" href="/about">About Page:</a> How it started, where it's going, etc.</p>
				<p><a class="call" href="/privacy">Privacy Policy:</a> The privacy policy includes important information</p> -->
			</div>
		</div>
	</div>
</body>

<footer>

</footer>

</html>