<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/meta.ejs'); %>
</head>

<body>
    <nav class="navbar">
		<%- include('../partials/searchbar.ejs'); %>
	</nav>
    <br>
    <div id="main" class = "text-white">
        <div class = "container">
            Unfortunately, nobody at your school has taken this AP Exam yet. Maybe you can be the first!
        </div>
    </div>
</body>

<footer class="footer text-center text-lg-start">
	<%- include('../partials/footer.ejs'); %>
</footer>

</html>