<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<div class="text-center p-3 text-white">
    © <script>document.write(new Date().getFullYear());</script> Copyright:
    <a href="/"> apsatimsa.org</a>
</div>